@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

details summary::-webkit-details-marker {
  display: none;
}

/* This is an important override since we do not wants show anchor tag instead we wants to show another icon */
.menu :where(li > .menu-dropdown-toggle):after,
.menu :where(li > details > summary):after {
  content: none;
}

/* Side Sheet component related CSS overrides */
.side-sheet-overlay.slide-pane__overlay.overlay-after-open {
  background-color: rgba(67, 90, 111, 0.6);
}
.side-sheet-overlay .side-sheet.slide-pane {
  box-shadow: none;
}
.side-sheet-overlay .slide-pane__content {
  background: #fafbff;
}
.side-sheet-overlay .slide-pane__header {
  background: #fff;
  border-bottom: 1px solid #edeff5;
  padding: 3rem 2rem;
  flex: 0 auto;
}
.side-sheet-overlay .slide-pane__header .slide-pane__close {
  margin-left: 0;
  padding: 0;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1.5rem;
  gap: 0.75rem;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper .slide-pane__title {
  color: #101840;
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 500;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper .slide-pane__title .pane_title_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper .slide-pane__subtitle {
  color: #696f8c;
  line-height: 24px;
  font-size: 1.25rem;
  margin-top: 0;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper .slide-pane__subtitle .pane_subtitle_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-sheet-overlay .slide-pane__content {
  padding: 2.5rem 2rem;
}

.react-flow__controls .react-flow__controls-button {
  min-width: 1.5rem;
  padding: 0.5rem;
}
