@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#root {
  width: 100vw;
  height: 100vh;
}

details summary::-webkit-details-marker {
  display: none;
}

/* This is an important override since we do not wants show anchor tag instead we wants to show another icon */
.menu :where(li > .menu-dropdown-toggle):after,
.menu :where(li > details > summary):after {
  content: none;
}

/* Side Sheet component related CSS overrides */
.side-sheet-overlay.slide-pane__overlay.overlay-after-open {
  background-color: rgba(67, 90, 111, 0.6);
}
.side-sheet-overlay .side-sheet.slide-pane {
  box-shadow: none;
}
.side-sheet-overlay .slide-pane__content {
  background: #fafbff;
}
.side-sheet-overlay .slide-pane__header {
  background: #fff;
  border-bottom: 1px solid #edeff5;
  padding: 3rem 2rem;
  flex: 0 auto;
}
.side-sheet-overlay .slide-pane__header .slide-pane__close {
  margin-left: 0;
  padding: 0;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1.5rem;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper .slide-pane__title {
  color: #101840;
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 500;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper .slide-pane__title .pane_title_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper .slide-pane__subtitle {
  color: #696f8c;
  line-height: 24px;
  font-size: 1.25rem;
  margin-top: 0;
}
.side-sheet-overlay .slide-pane__header .slide-pane__title-wrapper .slide-pane__subtitle .pane_subtitle_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-sheet-overlay .slide-pane__content {
  padding: 2.5rem 2rem;
}

/* React flow related CSS */
.react-flow .react-flow__handle {
  width: 14px;
  height: 30px;
  border-radius: 3px;
  background-color: #164e63;
}

.react-flow .react-flow__handle-left {
  left: -6px;
}

.react-flow .react-flow__handle-right {
  right: -6px;
}

.react-flow__controls {
  box-shadow: none;
}

.react-flow__controls .react-flow__controls-button {
  min-width: 1.5rem;
  padding: 0.75rem 0.5rem;
  border-top: 1px solid #164e63;
  border-bottom: 1px solid #164e63;
  border-right: 1px solid #164e63;
  background-color: #f1f5f9;
}

.react-flow__controls .react-flow__controls-button:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-left: 1px solid #164e63;
}

.react-flow__controls .react-flow__controls-button:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: 0;
  border-right: 1px solid #164e63;
}

.react-flow__controls .react-flow__controls-button:hover {
  background-color: #e2e8f0;
}

/* Not working as now so ToDo to check the styles for react-flow__edge */
.react-flow .react-flow__edge {
  color: #164e63;
  background-color: #164e63;
}

/* Toastify */
/* https://github.com/fkhadra/react-toastify/issues/201 */
.Toastify__toast-body {
  white-space: pre-line;
}
